#![enable(implicit_some)]
ThemeSetting(
    border_width: 1,
    margin: 20,
    // workspace_margin = 10,
    default_border_color: "#222222",
    floating_border_color: "#22ee22",
    focused_border_color: "#ee2222",
)
