$accent_color: #D35D6E;
$yellow: #FFFD98;
$mint: #59C9A5;

$white: rgba(255,255,255,0.9);
$white_weak: rgba(255,255,255,0.3); 

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar0 {
  background-color: #000000;
	background-color: rgba(0,0,0,0.3);
    color: #fff;
	font-family: 'monospace', 'sans-serif';
	font-size: 16px;
}

// Styles on classes (see eww.yuck for more information)
.left {
	padding-left: 12px;
}
.right {
	padding-right: 12px;
}
.icontext {
	margin-left: 12px;
	padding: 4px 8px;
	// border-top: 2px solid $accent_color;
}
// .icontext .icon {
// 	color: $accent_color;
// }
.metric scale trough highlight {
  all: unset;
  background-color: $accent_color;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: $accent_color;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

// worksapces
.wsb {
	color: $white_weak;
    min-width: 22px;
    min-height: 22px;
    margin: 2px 4px;
}
.wsb-mine {
    color: $white;
}
.wsb-visible {
    color: $white;
}
.wsb-busy {
    color: $white;
}
