LANG={{ config_system_language }}
LC_NUMERIC={{ config_system_locale }}
LC_TIME={{ config_system_locale }}
LC_MONETARY={{ config_system_locale }}
LC_TELEPHONE={{ config_system_locale }}
LC_MEASUREMENT={{ config_system_locale }}
